@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>



@using(Html.BeginForm())
{
    <div class="input-group">
        @Html.TextBox("searchByName",null,new{@class="form-control",@placeholder="Search By Employee Name .."})
        <input  type="submit" value="Search" class="btn btn-outline-success" >
        <a asp-action="Create" class="btn btn-outline-primary">Create New Employee</a>

    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Employee Number","Index",new{sortField="EmployeeNumber",currentSortField=ViewBag.SortField,sortDirection=ViewBag.SortDirection} )

            </th>
            <th>
                @Html.ActionLink("Employee Name","Index",new{sortField="EmployeeName",currentSortField=ViewBag.SortField,sortDirection=ViewBag.SortDirection} )
            </th>
            <th>
                @Html.ActionLink("DOB","Index",new{sortField="DOB",currentSortField=ViewBag.SortField,sortDirection=ViewBag.SortDirection} )

            </th>
            <th>
                @Html.ActionLink("Hiring Date","Index",new{sortField="HiringDate",currentSortField=ViewBag.SortField,sortDirection=ViewBag.SortDirection} )

            </th>
            <th>
                @Html.ActionLink("Gross Salary","Index",new{sortField="GrossSalary",currentSortField=ViewBag.SortField,sortDirection=ViewBag.SortDirection} )

            </th>
            <th>
                @Html.ActionLink("Net Salary","Index",new{sortField="NetSalary",currentSortField=ViewBag.SortField,sortDirection=ViewBag.SortDirection} )

            </th>
            <th>
                @Html.ActionLink("Department Name","Index",new{sortField="DepartmentName",currentSortField=ViewBag.SortField,sortDirection=ViewBag.SortDirection} )

            </th>
          


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem =>item.EmployeeNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelitem =>item.EmployeeName)
                </td>

                <td>
                    @Html.DisplayFor(modelitem =>item.DOB)
                </td>

                <td>
                    @Html.DisplayFor(modelitem =>item.HiringDate)
                </td>

                <td>
                    @Html.DisplayFor(modelitem =>item.GrossSalary)
                </td>

                <td>
                    @Html.DisplayFor(modelitem =>item.NetSalary)
                </td>

                <td>
                    @Html.DisplayFor(modelitem =>item.DepartmentName)
                </td>

                <td>
                    @Html.ActionLink("Edit","Edit",new {id=item.EmployeeID})
                    @Html.ActionLink("Delete","Delete",new {id=item.EmployeeID} , new {onclick ="return confirm('are you sure?');"})

                </td>

            </tr>

        }
    </tbody>


</table>


